<h1>All students at Hogwarts.</h1>

<% @students.each do |student|%>
  <p>Student's name: <%= student.full_name() %></p>
  <p>Student's house: <%= student.find_students_house().house_name %></p>
  <% student_house = student.find_students_house() %>
  <img src="<%= student_house.logo %>" alt="Logo for <%= student_house.house_name %>">
  <p>Student's age: <%= student.age() %></p>
  <p>Student's id: <%= student.id() %></p>

<!--   <p><a href="/students/<%= student.id %>">Show student details</a></p> -->
  <hr>
<% end %>
